.DS_Store
Data System and Security/*
!Data System and Security/main.pdf
Electronics and communication technologies/*
!Electronics and communication technologies/main.pdf
imagesPart1
imagesPart2
imagesPart3
imagesPart4
Language-Based Technology for Security/*
Language-Based Technology for Security/main.pdf